@import "../../components/config.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading {
    position: absolute;
    top: 40%;
  }

  .empty-pokeball {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    opacity: 30%;
    position: absolute;
    top: 10%;
    opacity: 40%;
    @include monitor {
      left: 35%;
      top: 12%
    }
    text-align: center;

    h2 {
      @include mobile {
        font-size: 1rem;;
      }
    }
  }

  @include mobile {
    margin-bottom: 2rem;
  }

  @include monitor {
  }

  .list-pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mobile {
      justify-content: center;
    }

    @include monitor {
      margin-left: 8rem;
    }
  }

  .pagination {
    align-self: center;
  }
}
