@import "../../components/config.scss";

.list-body{
  display: flex;
  flex-direction: column;

  .loading {
    position: absolute;
    top: 40%;
    align-self: center;
  }

  .empty-pokeball {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    opacity: 0.4;
    text-align: center;
    align-self: center;
    align-items: center;

    h2 {
      @include mobile {
        font-size: 1rem;;
      }
    }
  }

  @include mobile {
    margin-bottom: 2rem;
  }

  @include monitor {
  }

  .list-pokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @include monitor {
      margin-left: 8rem;
    }
  }

  .pagination {
    align-self: center;
  }
}
