@import "../../components/config.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    margin-bottom: 2rem;
  }

  @include monitor {

  }

  .list-pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mobile {
      justify-content: center;
    }
  
    @include monitor {
      margin-left: 8rem;
    }
  }
  
  .pagination {
    align-self: center;
  }
  
  .empty-list {
    
  }
}
