$primary-color: white;
$secondary-color: #fa3c3c;
$third-color: rgb(105, 105, 219);
$shadow-color: #999;
$background-color: rgb(238, 238, 238);
$text-color-black: #272727;

$mobile: 800px;

.poke-button {
  border-radius: 12px;
  border: 2px solid $primary-color;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 16px 26px;
  text-decoration: none;
  margin-top: 2rem;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin monitor {
  @media (min-width: $mobile) {
    @content;
  }
}
