@import "config";

.pokemon-card {
  margin: 2rem 2rem;
  height: auto;
  width: 17rem;
  background-color: $background-color;
  border-radius: 35px;
  border: 1px solid $secondary-color;
  text-decoration: none;
  color: $text-color-black;

  .pokemon-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;

    p {
      margin-top: 1rem;
    }

    .pokemon-img{
        
    }

    .poke-button {
      background-color: $secondary-color;
      color: $primary-color;
      margin-top: 1rem;
    }
  }
}
