@import "../../components/config.scss";

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 4rem;

  .pokemon-card {
    height: auto;
    width: 60%;
    // @include mobile {
    //   width: 40%;
    // }
  
    // @include monitor {
    //   width: 60%;
    // }
    background-color: $background-color;
    border-radius: 35px;
    border: 1px solid $shadow-color;
    margin-bottom: 2rem;

    .pokemon-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      p {
        margin-top: 1rem;
      }

      .poke-button {
        color: $primary-color;
        background-color: $third-color;
      }

      .info-detail {
        display: flex;
        flex-direction: column;
        width: 100%;

        .detail-item {
          display: flex;
          justify-content: flex-start;
          padding: 0 1rem;
          text-align: left;
        }
      }

      .pokemon-img {
      }

      input[type="text"] {
        width: 80%;
        padding: 12px 20px;
        margin: 2px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
        margin-top: 2rem;
        text-align: center;
      }

      input[type="submit"] {
        background-color: #00C851;
        border-radius: 12px;
        border: 2px solid $primary-color;
        display: inline-block;
        cursor: pointer;
        color: $primary-color;
        font-family: Arial;
        font-size: 17px;
        font-weight: bold;
        padding: 16px 26px;
        text-decoration: none;
        margin-top: 2rem;
      }
    }
  }
}
